asgiref==3.8.1
certifi==2025.8.3
charset-normalizer==3.4.3
crispy-bootstrap5==2025.4
Django==5.2.1
django-crispy-forms==2.4
django-environ==0.12.0
djangorestframework==3.16.0
gunicorn==23.0.0
idna==3.10
numpy==2.2.6
pandas==2.3.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pyotp==2.9.0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.7.0