# APPLICATION
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,.ngrok-free.app,.ngrok.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://127.0.0.1,https://localhost,https://*.ngrok-free.app,https://*.ngrok.app



# Database switch
# - False = Use Postgres (Docker Dod)
# - True = Use SQLite (local fallback)
USE_SQLITE=False


# Postgres (used when USE_SQLITE=False)
POSTGRES_DB=pdfmgr
POSTGRES_USER=pdfmgr
POSTGRES_PASSWORD=pdfmgrpw
# When running in Docker, service name is 'db'
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60